version: "3.9"
services:
  app:
    build:
      context: ./src
    environment:
      MARIADB_USER: root
      MARIADB_ROOT_PASSWORD: example
      MARIADB_HOST: 0.0.0.0
      MARIADB_PORT: 3306
      MARIADB_DATABASE: rordemo
    ports:
      - 3000:3000
    depends_on:
      - db
    networks:
      - ror
  db:
    image: mariadb:10.11
    environment:
      MARIADB_ROOT_PASSWORD: example
      MARIADB_DATABASE: rordemo
    ports:
      - "3306:3306"
    networks:
      - ror


networks:
  ror:
    driver: bridge